<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/chatRoom.css">
    <title>myChat</title>
  </head>

  <body>
    <header>
      <h1>
        Welcome to <span class="chatRoomTitle"> Chat Room</span>

        <input
          data-testid="nickname-box"
          placeholder=""
          type="text"
        >

        <button
          data-testid="nickname-button"
          onclick="setPlaceholder()"
        >
          Change
        </button>

        <span
          class="invisibleNickname"
          data-testid="online-user"
        >
        
        </span>        
      </h1>
    </header>

    <main>
      <div>
        <ul>
          
        </ul>
        
        <form action="">
          <input 
            data-testid="message-box"
            type="text"
          >
          <button
            data-testid="send-button"
          >
            SEND
          </button>
        </form>
      </div>

      <aside>
        <ul>
          <li>Usuário fictício 1</li>
          <li>Usuário fictício 2</li>
          <li>Usuário fictício 3</li>
          <li>Usuário fictício 4</li>
          <li>Usuário fictício 5</li>
          <li>Usuário fictício 6</li>
        </ul>
      </aside>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/views/js/chatRoom.js"></script>
  </body>
</html>