body {
  background-color: #fdfffc;
}

form {
  background: #235789;
  bottom: 0;
  padding: 0.2%;
  position: fixed;
  width: 100%;
}

form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

form button {
  background: #235789;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 7%;
}

li {
  list-style-type: none;
}

::-webkit-input-placeholder { /* source: https://css-tricks.com/almanac/selectors/p/placeholder/ */
  font-size: x-large;
}
